.container {
    height: 85%;
    background-color: #fefefe;
   
}

i {
    padding-right: .6rem;
    color: #fefefe;
   
}

.side {
    width: 12%;
    background-color: #34434b
    
}

mat-nav-list {
    justify-content: center;
}

.nav {
    width: 50%;
   
}
.title{
    color: #fefefe;
}