<form>
    <h1>ATUALIZANDO TAREFA</h1>

    

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="tarefa.titulo" type="text" name="titulo" >
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Responsavel</mat-label>
        <textarea matInput [(ngModel)]="tarefa.responsavel" type="text" name="responsavel" ></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="tarefa.descricao" type="text" name="descricao" ></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Prioridade</mat-label>
        <textarea matInput [(ngModel)]="tarefa.prioridade" type="text" name="prioridade" ></textarea>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Deadline</mat-label>
        <textarea matInput [(ngModel)]="tarefa.deadline" type="text" name="deadline" ></textarea>
    </mat-form-field>



    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>